* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.container .logo {
    position: absolute;
    top: -150px;
    left: -80px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    overflow: hidden;
    padding: 100px 20px;
}

section::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ef3b36;
    clip-path: circle(65% at 100% -20%);
    animation: red_ball 20s ease-in-out infinite;
}

@keyframes red_ball {
    0% {
        clip-path: circle(65% at 100% -20%);
    }

    30% {
        clip-path: circle(65% at 30% -10%);
    }

    45% {
        clip-path: circle(65% at 10% 70%);
    }

    75% {
        clip-path: circle(65% at 80% 120%);
    }

    100% {
        clip-path: circle(65% at 100% -20%);
    }
}

section::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #47aafa;
    clip-path: circle(35% at 0% 100%);
    animation: blue_ball 20s ease-in-out infinite;
}


@keyframes blue_ball {
    0% {
        clip-path: circle(35% at 0% 100%);
    }

    30% {
        clip-path: circle(35% at 80% 80%);
    }

    45% {
        clip-path: circle(35% at 75% 10%);
    }

    75% {
        clip-path: circle(35% at 25% 20%);
    }

    100% {
        clip-path: circle(35% at 0% 100%);
    }
}

.container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255, 0.05);
    box-shadow: 0 10px 25px rgba(0,0,0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.container .card .img_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .img_box {
  transform:translateY(-100px);
}

.container .card .img_box img {
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .img_box img {
   transform: translate(-20px,-40px) rotate(-25deg) scale(1.4);
}

.container .card .img_box h2 {
    margin:auto;
    color: #fff;
}

.container .card .content {
    position: absolute;
    bottom: 20px;
    display:flex;
    justify-content:center;
    align-items: center;flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}


.container .card .content .size, 
.container .card .content .color {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}

.container .card .content .size h3, 
.container .card .content .color h3{
    color:#fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .content .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    color: #111;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
}

.container .card .content .size span:hover {
    background: #d13440;
    color: #fff;
}

.container .white .content .size span:hover {
    background: #000;
    color: #fff;
}

.container .blue .content .size span:hover {
    background: #2c4a7c;
    color: #fff;
}

.container .card .content .color span {
   width: 20px;
   height: 20px;
   background: #d13440;
   border-radius: 50%;
   margin: 0 5px;
   border: 2px solid #fff;
   box-sizing: border-box;
   cursor: pointer;
}

.container .card .content .color span:nth-child(2) {
    background: #d13440;
}

.container .card .content .color span:nth-child(3) {
    background: #2c4a7c; 
}

.container .card .content .color span:nth-child(4) {
    background: #fff;
}

.container .card .content a {
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
}